<footer>
    <span>
        <div class="float-right">
        </div>
        <div class="float-left">
            Adslyw &copy; 2014
        </div>
        <div class="clearfix">
        </div>
    </span>
<footer>