<ul id="menu" class="">
  
    <li class="nav-divider"></li>
      <li class="">
        <a href="/welcome">
          <i class="fa fa-home"></i>
          <span class="link-title">&nbsp;Welcom</span>
          
        </a> 
        
  
    <li class="nav-divider"></li>
      <li class="">
        <a href="/user">
          <i class="fa fa-users"></i>
          <span class="link-title">&nbsp;Users</span>
          
            <span class="fa arrow"></span>
            </a>
            <ul>
              
                <li class="">
                  <a href="/user?page=1">
                    <i class="fa fa-angle-right"></i>&nbsp;UserList
                  </a> 
                </li>
              
            </ul>
        </li>
          
  
    <li class="nav-divider"></li>
      <li class="">
        <a href="/database">
          <i class="fa fa-database"></i>
          <span class="link-title">&nbsp;DataBase</span>
          
            <span class="fa arrow"></span>
            </a>
            <ul>
              
                <li class="">
                  <a href="/database/dblink">
                    <i class="fa fa-angle-right"></i>&nbsp;Make dblink
                  </a> 
                </li>
              
                <li class="">
                  <a href="/database/updatetime">
                    <i class="fa fa-angle-right"></i>&nbsp;Updatetime
                  </a> 
                </li>
              
                <li class="">
                  <a href="/qs">
                    <i class="fa fa-angle-right"></i>&nbsp;Sql
                  </a> 
                </li>
              
            </ul>
        </li>
          
  
    <li class="nav-divider"></li>
      <li class="">
        <a href="/query">
          <i class="fa fa-search"></i>
          <span class="link-title">&nbsp;Query</span>
          
            <span class="fa arrow"></span>
            </a>
            <ul>
              
                <li class="">
                  <a href="/fresh">
                    <i class="fa fa-angle-right"></i>&nbsp;fresh
                  </a> 
                </li>
              
                <li class="">
                  <a href="/history">
                    <i class="fa fa-angle-right"></i>&nbsp;history
                  </a> 
                </li>
              
            </ul>
        </li>
          
  
    <li class="nav-divider"></li>
      <li class="">
        <a href="/table">
          <i class="fa fa-table"></i>
          <span class="link-title">&nbsp;Tables</span>
          
        </a> 
        
  
    <li class="nav-divider"></li>
      <li class="">
        <a href="/file">
          <i class="fa fa-file"></i>
          <span class="link-title">&nbsp;File Manager</span>
          
        </a> 
        
  
    <li class="nav-divider"></li>
      <li class="">
        <a href="/map">
          <i class="fa fa-map-marker"></i>
          <span class="link-title">&nbsp;Maps</span>
          
        </a> 
        
  
    <li class="nav-divider"></li>
      <li class="">
        <a href="/chart">
          <i class="fa fa-bar-chart-o"></i>
          <span class="link-title">&nbsp;Charts</span>
          
        </a> 
        
  
    <li class="nav-divider"></li>
      <li class="">
        <a href="/calendar">
          <i class="fa fa-calendar"></i>
          <span class="link-title">&nbsp;Calendar</span>
          
        </a> 
        
  
    <li class="nav-divider"></li>
      <li class="">
        <a href="/menu">
          <i class="fa fa-list"></i>
          <span class="link-title">&nbsp;Menu Manager</span>
          
        </a> 
        
  
</ul>

<script>
    $(function () {
        $('#menu').metisMenu();
    });
</script>