<!DOCTYPE html>
<html>
  <head>

    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/css/app.css">
    <link rel="stylesheet" href="/linker/css/bootstrap.css">
    <!--STYLES END-->

    <header class="navbar navbar-default" role="navigation">
      <div class="navbar-inner">
        <div class="container">          
          <nav>
            <ul class="nav navbar-nav navbar-left">
              <a class="navbar-brand" href="/">ADSLYW</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
              <%= if(res.session.user){ %>
              <a href="/login">
                <span class="glyphicon glyphicon-log-in"></span> 
                登录 
              </a>
              <% }else{ %>
              <a href="/logout">
                <span class="glyphicon glyphicon-log-out"></span> 
                离开 
              </a>              
              <% } %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </head>

  <body>
    <!--SCRIPTS-->
    <script src="/linker/js/jquery.min.js"></script>
    <script src="/linker/js/highcharts.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
    <!-- Include the view file for the current controller/route -->
    <div class="container">
      <%- body %>
    </div>
    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
